@{
    Layout = "_AdminLayout";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Admin Panel</h2>
                </div>
            </div>
        </div>
        @*sayısal değerler*@
        @await Component.InvokeAsync("AdminHomeValueComponent")
        @*sosyal medya*@
        @await Component.InvokeAsync("AdminHomeSocialComponents")
        <!-- graph -->
        @await Component.InvokeAsync("AdminHomeGraphComponent")
        <!-- end graph -->
        <div class="row column3">
            <!-- son eklenen blog -->
            @await Component.InvokeAsync("AdminHomeRecentlyAddedBlogComponent")
            <!-- end testimonial -->
            <!-- progress bar -->
            <div class="col-md-6">
                @await Component.InvokeAsync("AdminHomeProgressBarOSComponent")
                @await Component.InvokeAsync("AdminHomeDeviceTypeProgressBarComponent")
            </div>
            <!-- end progress bar -->
        </div>
    </div>
</div>
