<div class="row column1 social_media_section">
    <div class="col-md-6 col-lg-3">
        <div class="full socile_icons fb margin_bottom_30">
            <div class="social_icon">
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="social_cont">
                <ul>
                    <li>
                        <span><strong>35k</strong></span>
                        <span>Friends</span>
                    </li>
                    <li>
                        <span><strong>128</strong></span>
                        <span>Feeds</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full socile_icons tw margin_bottom_30">
            <div class="social_icon">
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="social_cont">
                <ul>
                    <li>
                        <span><strong>584k</strong></span>
                        <span>Followers</span>
                    </li>
                    <li>
                        <span><strong>978</strong></span>
                        <span>Tweets</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full socile_icons linked margin_bottom_30">
            <div class="social_icon">
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="social_cont">
                <ul>
                    <li>
                        <span><strong>758+</strong></span>
                        <span>Contacts</span>
                    </li>
                    <li>
                        <span><strong>365</strong></span>
                        <span>Feeds</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full socile_icons google_p margin_bottom_30">
            <div class="social_icon">
                <i class="fa-brands fa-square-google-plus"></i>
            </div>
            <div class="social_cont">
                <ul>
                    <li>
                        <span><strong>450</strong></span>
                        <span>Followers</span>
                    </li>
                    <li>
                        <span><strong>57</strong></span>
                        <span>Circles</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>