
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="/androidiostema/img/hero/ip143.jpeg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <h2>İphone 14 Pro Max</h2>
                            <p>Daha Pro. Daha ileri...</p>
                            <a href="#"><span>Detail</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/androidiostema/img/hero/zflip.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <h2>Samsung Glaxy Z Flip 4</h2>
                            <p>Hayatı ikiye katlayın....</p>
                            <a href="#"><span>Detail</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/androidiostema/img/hero/aciklama1.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <h2>Xiaomi 11T Pro</h2>
                            <p>Hayatın sunduğu her şeyi yakalayın...</p>
                            <a href="#"><span>Detail</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>