<div class="container-fluid">
    <div class="footer">
        <p>
            &copy; Doğan Çiftçi @DateTime.UtcNow.Year Tüm hakları saklıdır..<br><br>
            Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
        </p>
    </div>
</div>