<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IosAndroidApp</title>
    <link rel="website icon" type="png" href="~/img/ikonpng.png"/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/androidiostema/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/androidiostema/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/androidiostema/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/androidiostema/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/androidiostema/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/androidiostema/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/androidiostema/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/androidiostema/css/style.css" type="text/css">
</head>
