@model List<Project.AndroidIosApp.Dtos.BlogDtos.GetBlogDto>


<div class="col-lg-4 col-md-4">
    <div class="anime__details__sidebar">
        <div class="section-title">
            <h5>you might like...</h5>
        </div>
        @foreach (var item in Model.Take(3))
        {
        <div class="product__sidebar__view__item set-bg" data-setbg="@item.Image1">
            <div class="ep">Blog</div>
            <div class="view"><i class="fa fa-eye"></i> @item.CreateDate</div>
            <h5><a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@item.Id">@item.Title</a></h5>
        </div>
        }
    </div>
</div>
}