@model Project.AndroidIosApp.Dtos.OSDtos.UpdateOSDto

@{
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Update Device OS Panel </p>
            <form asp-controller="AdminDeviceOS" asp-action="Update" class="forms-sample" method="post">
                <input type="hidden" class="form-control" asp-for="@Model.Id">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label>Definition</label>
                    <input type="text" class="form-control" asp-for="@Model.Definition">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <a href="/Admin/AdminDeviceOS/Index" class="btn btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>