<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="index.html"><img class="logo_icon img-responsive" src="~/img/ikonpng.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="~/userImage/@ViewBag.UserImage" alt="#" /></div>
                <div class="user_info">
                    <h6>@ViewBag.UserName @ViewBag.UserLastName</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>      
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li><a href="/Admin/AdminDeviceComment/Index"><i class="fa-solid fa-comment red_color"></i><span>DeviceComments</span></a></li>
            <li><a href="/Admin/AdminBlogComment/Index"><i class="fa-regular fa-comment brown_color"></i><span>BlogComments</span></a></li>
            <li><a href="/Admin/AdminMessage/Index"><i class="fa-solid fa-message orange_color"></i> <span>Messages</span></a></li>
            <li><a href="/Admin/AdminProjectUser/Index"><i class="fa-solid fa-user green_color"></i> <span>Users</span></a></li>
            <li><a href="/Admin/AdminProjectRole/Index"><i class="fa-solid fa-address-book orange_color2"></i> <span>Roles</span></a></li>
            <li><a href="/Admin/AdminProjectUserRole/Index"><i class="fa-solid fa-circle-user blue1_color"></i><span>UserRoles</span></a></li>
            <li><a href="/Admin/AdminGender/Index"><i class="fa-solid fa-venus-mars purple_color"></i><span>Genders</span></a></li>
            <li><a href="/Admin/AdminDevice/Index"><i class="fa-solid fa-mobile blue2_color"></i></i> <span>Devices</span></a></li>
            <li><a href="/Admin/AdminDeviceType/Index"><i class="fa-solid fa-tablet yellow_color"></i> <span>DeviceTypes</span></a></li>
            <li><a href="/Admin/AdminDeviceOS/Index"><i class="fa-brands fa-apple color_black"></i> <span>DeviceOS</span></a></li>
            <li><a href="/Admin/AdminBlog/Index"><i class="fa-solid fa-blog purple_color2"></i> <span>Blogs</span></a></li>
            <li><a href="/Admin/AdminSocialMedia/Index"><i class="fa-solid fa-thumbs-up green_color"></i> <span>SocialMedias</span></a></li>
            <li><a href="/Admin/AdminContact/Index"><i class="fa-sharp fa-solid fa-address-card blue2_color"></i><span>Contacts</span></a></li>
        </ul>
    </div>
</nav>