<!DOCTYPE html>
<html>
    @*header*@
    @await Component.InvokeAsync("HeadComponent")
<body>
    @await Component.InvokeAsync("HeaderComponent")

    <div style="background: #A4826D; margin-top:40px;">
        @RenderBody()
    </div>

    <!-- Js Plugins -->
    @await Component.InvokeAsync("ScriptsComponent")
</body>

@await Component.InvokeAsync("FooterComponent")
</html>

