@model Project.AndroidIosApp.Dtos.SocialMediaDtos.CreateSocialMediaDto

@{
    Layout = "_AdminLayout";
}

<style>
    input[type="radio"] + label {
        cursor: pointer;
    }

    input[type="radio"]:checked + label {
        font-weight: bold;
    }
</style>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Adding New Social Media Panel </p>
            <form asp-controller="AdminSocialMedia" asp-action="Insert" class="forms-sample" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" asp-for="@Model.Name">
                </div>
                <div class="form-group">
                    <label>Url</label>
                    <input type="text" class="form-control" asp-for="@Model.Url">
                </div>
                <div class="form-group">
                    <label>Icon</label>
                    <input type="text" class="form-control" asp-for="@Model.Icon">
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div class="form-check d-flex flex-row justify-content-md-start">
                        <div>
                            <input class="form-check-input" id="radio1" type="radio" name="Status" value="true" checked>
                            <label class="form-check-label" for="radio1">Active</label>

                        </div>
                        <div class="ml-5">
                            <input class="form-check-input" id="radio2" type="radio" name="Status" value="false">
                            <label class="form-check-label" for="radio2">Inactive</label>

                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>